.header {
    background-color: darkcyan;
    color: lightcoral
}
.wrapper{
    background-color: darkgoldenrod;
    orientation: hori;
}

.container{
    display: flex;
    width: 950px;
    padding: 25px 50px 75px 100px; 
    margin: 25px 50px 75px 100px;
    background-color: lightblue;

}

.a1{
    background-color: hotpink;
    text-align: center;
}

.a2{
    background-color: white;
}

ul{
    background-color: hotpink;
    text-align: center;
  
}